<form class="login-form" novalidate name="loginForm">
    <div ng-show="$ctrl.loading" class="k-loading-image"></div>
    <div class="login-form-content">
        <div class="input-container">
            <label class="k-label">{{  ::$ctrl.passwordCaption }}</label>
            <input class="k-input" ng-model="$ctrl.model.password" placeholder="{{  ::$ctrl.passwordCaption }}" ng-change="$ctrl.error = false" type="password">
        </div>
        <div class="input-container">
            <label class="k-label">{{  ::$ctrl.confirmPasswordCaption }}</label>
            <input class="k-input" ng-model="$ctrl.model.confirmPassword" placeholder="{{  ::$ctrl.confirmPasswordCaption }}" ng-change="$ctrl.error = false" type="password">
        </div>
        <span class="login-form-error" ng-show="$ctrl.error">{{ $ctrl.error }}</span>
    </div>
    <div class="login-form-button-panel hidden-client-link">
        <input name="register"
               class="k-primary k-button"
               type="submit"
               value="{{  ::$ctrl.restorePasswordButton }}"
               ng-click="$ctrl.restorePassword($ctrl.model.password, $ctrl.model.confirmPassword)"
               ng-disabled="!$ctrl.model.password || !$ctrl.model.confirmPassword || $ctrl.loading"/>

    </div>
</form>
