<div class="k-toolbar k-widget toolbar">
    <div class="filter-field">
        <div>Start date:</div>
        <input kendo-date-time-picker ng-model="$ctrl.startDateStr" k-ng-model="$ctrl.filter.startDate"/>
    </div>
    <div class="filter-field">
        <div>End date:</div>
        <input kendo-date-time-picker ng-model="$ctrl.endDateStr" k-ng-model="$ctrl.filter.endDate"/>
    </div>
    <div class="filter-field">
        <div>Period:</div>
        <select kendo-drop-down-list k-options="$ctrl.periodOptions"></select>
    </div>
</div>
<div class="grid" kendo-grid k-options="$ctrl.gridOptions">
</div>