<?xml version="1.0" encoding="utf-8"?>
<system.diagnostics>

  <switches>
    <add name="Microsoft.Owin" value="Error" />
  </switches>

  <trace autoflush="true"></trace>
  <sharedListeners>
    <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="traces.log" />
    <add name="file-warning" type="System.Diagnostics.TextWriterTraceListener" initializeData="traces-warning.log">
      <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
    </add>
    <add name="file-critical" type="System.Diagnostics.TextWriterTraceListener" initializeData="traces-critical.log">
      <filter type="System.Diagnostics.EventTypeFilter" initializeData="Critical"/>
    </add>
    <add name="file-error" type="System.Diagnostics.TextWriterTraceListener" initializeData="traces-error.log">
      <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
    </add>
  </sharedListeners>

  <sources>
    <source name="Microsoft.Owin">
      <listeners>
        <add name="file" />
        <add name="file-warning" />
      </listeners>
    </source>

    <source name="System.Web.Http">
      <listeners>
        <add name="file" />
        <add name="file_webapi" type="System.Diagnostics.TextWriterTraceListener" initializeData="traces-webapi.log" />
      </listeners>
    </source>
  </sources>
</system.diagnostics>