<?xml version="1.0" encoding="utf-8"?>
<notifiers>

    <emailNotifiers>

        <emailNotifier name="Default" 
                            host="smtp.yandex.ru"
                            port="587"
                            fromEmail="iw.testoff2017@yandex.ru"
                            fromDisplayName="Система"
                            password="qwertyuiop1234567890"/>

    </emailNotifiers>

</notifiers>