<div class="input-container">
    <wizard-input-label title="$ctrl.field.title" field-required="$ctrl.field.required"></wizard-input-label>
    <div class="input-field-wrapper" ng-class="{ 'input-field-has-error': $ctrl.parentForm[$ctrl.field.name].$invalid && $ctrl.parentForm[$ctrl.field.name].$touched }">
        <input kendo-time-picker
               class="input-field"
               k-ng-readonly="$ctrl.field.readonly"
               k-parse-formats="['yyyy-MM-ddTHH:mm:sszzz']"
               k-format="{{ $ctrl.field.format !== undefined ? '\'' + $ctrl.field.format + '\'' : 'null' }}"
               ng-blur="$ctrl.blur()"
               k-ng-model="$ctrl.model[$ctrl.field.name]" />
        <input name="{{ $ctrl.field.name }}" custom-validation type="hidden" ng-model="model[$ctrl.field.name]" />
    </div>
</div>
