<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Validation" version="6.0.1304.0" targetFramework="net45" />
  <package id="Future.Technologies.Infragistics.WinForms" version="15.1.20151.2203" targetFramework="net45" />
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.0" targetFramework="net471" />
  <package id="Microsoft.OData.Core" version="7.5.0" targetFramework="net471" />
  <package id="Microsoft.OData.Edm" version="7.5.0" targetFramework="net471" />
  <package id="Microsoft.Spatial" version="7.5.0" targetFramework="net471" />
  <package id="Microsoft.Web.Services2" version="2.0.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" targetFramework="net471" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net471" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net471" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net471" />
  <package id="System.Spatial" version="5.8.3" targetFramework="net471" />
  <package id="WindowsAzure.Storage" version="9.3.1" targetFramework="net471" />
</packages>