<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Owin" version="1.0" targetFramework="net471" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" targetFramework="net471" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net471" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net471" />
  <package id="System.Spatial" version="5.8.3" targetFramework="net471" />
  <package id="Westwind.Utilities" version="3.0.17" targetFramework="net471" />
  <package id="Westwind.Web" version="2.76" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="9.3.1" targetFramework="net471" />
</packages>