<wizard-page name='page1'>
    <wizard-datepicker name='OrderDate'></wizard-datepicker>
    <wizard-combobox name='CustomerID'></wizard-combobox>
    <wizard-drop-down-list name='EmployeeID'></wizard-drop-down-list>
    <wizard-datepicker name='RequiredDate'></wizard-datepicker>
</wizard-page>
<wizard-page name='page2'>
    <wizard-drop-down-list name='ShipVia'></wizard-drop-down-list>
    <wizard-datepicker name='ShippedDate'></wizard-datepicker>
    <wizard-numeric name='Freight'></wizard-numeric>
    <wizard-input name='ShipName'></wizard-input>
    <wizard-input name='ShipAddress'></wizard-input>
    <wizard-input name='ShipCity'></wizard-input>
    <wizard-input name='ShipRegion'></wizard-input>
    <wizard-input name='ShipPostalCode'></wizard-input>
    <wizard-input name='ShipCountry'></wizard-input>
</wizard-page>
