<wizard-page name='page1'>
    <wizard-input name='LastName'></wizard-input>
    <wizard-input name='FirstName'></wizard-input>
    <wizard-input name='Title'></wizard-input>
    <wizard-input name='TitleOfCourtesy'></wizard-input>
    <wizard-datepicker name='BirthDate'></wizard-datepicker>
    <wizard-datepicker name='HireDate'></wizard-datepicker>
    <wizard-fileupload name='Photo'></wizard-fileupload>
    <wizard-multiline name='Notes'></wizard-multiline>
    <wizard-fileupload name='DocumentScanFileId'></wizard-fileupload>
</wizard-page>
<wizard-page name='page2'>
    <wizard-input name='Address'></wizard-input>
    <wizard-input name='City'></wizard-input>
    <wizard-input name='Region'></wizard-input>
    <wizard-input name='PostalCode'></wizard-input>
    <wizard-input name='Country'></wizard-input>
    <wizard-input name='HomePhone'></wizard-input>
</wizard-page>
