<wizard-page name='page1'>
    <wizard-input name='ProductName'></wizard-input>
    <wizard-drop-down-list name='CategoryID'></wizard-drop-down-list>
    <wizard-input name='QuantityPerUnit'></wizard-input>
    <wizard-numeric name='UnitPrice'></wizard-numeric>
    <wizard-numeric name='UnitsInStock'></wizard-numeric>
    <wizard-numeric name='UnitsOnOrder'></wizard-numeric>
    <wizard-numeric name='ReorderLevel'></wizard-numeric>
    <wizard-checkbox name='Discontinued'></wizard-checkbox>
    <wizard-drop-down-list name='SupplierID'></wizard-drop-down-list>
</wizard-page>
