<wizard-page name='page1'>
    <wizard-input name='CompanyName'></wizard-input>
    <wizard-input name='ContactName'></wizard-input>
    <wizard-input name='ContactTitle'></wizard-input>
</wizard-page>
<wizard-page name='page2'>
    <wizard-input name='Address'></wizard-input>
    <wizard-input name='City'></wizard-input>
    <wizard-input name='Country'></wizard-input>
    <wizard-input name='Fax'></wizard-input>
    <wizard-input name='HomePage'></wizard-input>
    <wizard-input name='Phone'></wizard-input>
    <wizard-input name='PostalCode'></wizard-input>
    <wizard-input name='Region'></wizard-input>
</wizard-page>
