<screen context-state="contextState" blocks="blocks">
    <split-container name="splitContainer1">
        <split-panel1 >
            <grid-block name="qOrders"/>
        </split-panel1>
        <split-panel2 >
            <tab-container name="tabsControl">
                <tab-item name="tabqOrders">
                    <details-block name="blockRegion1"/>
                </tab-item>
                <tab-item name="tabqOrderProducts">
                    <grid-block name="qOrderProducts"/>
                </tab-item>
                <tab-item name="tabqShippers">
                    <details-block name="shipperDetailRegion"/>
                </tab-item>
            </tab-container>
        </split-panel2>
    </split-container>
</screen>
